import Modulo{{ View }}View from '@/Modulo{{ View }}/Pages/{{ View }}View.vue'

export const Modulo{{ View }} = [
  {
    meta: { title: '{{ view_title }}' },
    path: '{{ view_path }}',
    name: '{{ view_slug }}',
    component: Modulo{{ View }}View,
  },
]
